// common
$button-transition-duration = 0.1s;
$button-slibings-margin-right = 10px;
$button-icon-slibings-margin-right = 5px;

// type
$button-default-hover-border-color = #c6e2ff;
$button-default-hover-background-color = #ecf5ff;

$button-primary-hover-border-color = #66b1ff;
$button-primary-hover-background-color = #66b1ff;

$button-success-hover-border-color = #85ce61;
$button-success-hover-background-color = #85ce61;

$button-warning-hover-border-color = #ebb563;
$button-warning-hover-background-color = #ebb563;

$button-danger-hover-border-color = #f78989;
$button-danger-hover-background-color = #f78989;

$button-info-hover-border-color = #a6a9ad;
$button-info-hover-background-color = #a6a9ad;


// size
$button-size-default-font-size = 14px;
$button-size-default-vertical-padding = 12px;
$button-size-default-horizontal-padding = 20px;
$button-size-default-radius = 4px;

$button-size-medium-font-size = 14px;
$button-size-medium-vertical-padding = 10px;
$button-size-medium-horizontal-padding = 20px;
$button-size-medium-radius = 4px;

$button-size-small-font-size = 12px;
$button-size-small-vertical-padding = 9px;
$button-size-small-horizontal-padding = 15px;
$button-size-small-radius = 3px;

$button-size-mini-font-size = 12px;
$button-size-mini-vertical-padding = 7px;
$button-size-mini-horizontal-padding = 15px;
$button-size-mini-radius = 3px;

// round
$button-round-default-vertical-padding = 12px;
$button-round-default-horizontal-padding = 23px;
$button-round-default-radius = 20px;

// disabled
$button-default-disabled-border-color = #EBEEF5;
$button-default-disabled-background-color = #fff;

$button-primary-disabled-border-color = #a0cfff;
$button-primary-disabled-background-color = #a0cfff;

$button-success-disabled-border-color = #b3e19d;
$button-success-disabled-background-color = #b3e19d;

$button-warning-disabled-border-color = #f3d19e;
$button-warning-disabled-background-color = #f3d19e;

$button-danger-disabled-border-color = #fab6b6;
$button-danger-disabled-background-color = #fab6b6;

$button-info-disabled-border-color = #c8c9cc;
$button-info-disabled-background-color = #c8c9cc;

// circle
$button-size-default-circle-padding = 12px;
$button-size-medium-circle-padding = 10px;
$button-size-small-circle-padding = 9px;
$button-size-mini-circle-padding = 7px;

// loading
$button-loading-background-color = rgba(255,255,255,0.35);

// plain
$button-primary-plain-border-color = #b3d8ff;
$button-primary-plain-background-color = #ecf5ff;

$button-success-plain-border-color = #c2e7b0;
$button-success-plain-background-color = #f0f9eb;

$button-warning-plain-border-color = #f5dab1;
$button-warning-plain-background-color = #fdf6ec;

$button-danger-plain-border-color = #fbc4c4;
$button-danger-plain-background-color = #fef0f0;

$button-info-plain-border-color = #d3d4d6;
$button-info-plain-background-color = #f4f4f5;

// button-group
$button-group-border-color = rgba(255, 255, 255, 0.5);
$button-group-margin-right = -1px;
$button-group-zIndex = 1;