$msgbox-width = 420px;
$msgbox-padding-bottom = 10px;
$msgbox-box-shadow = 0 2px 12px 0 rgba(0, 0, 0, 0.1);
$msgbox-header-padding = 15px;
$msgbox-header-padding-bottom = 10px;
$msgbox-title-font-size = 18px;
$msgbox-close-icon-top = 15px;
$msgbox-close-icon-right = 15px;
$msgbox-close-icon-font-size = 16px;
$msgbox-close-icon-extend-size = -10px;
$msgbox-content-vertical-padding = 10px;
$msgbox-content-horizontal-padding = 15px;
$msgbox-content-font-size = 14px;
$msgbox-content-message-line-height = 24px;
$msgbox-btns-vertical-padding = 5px;
$msgbox-btns-horizontal-padding = 15px;