$step-text-icon-width = 24px;
$step-text-font-size = 14px;
$step-title-font-size = 16px;
$step-title-line-height = 38px;
$step-desc-font-size = 12px;
$step-desc-padding-right = 10%;
$step-desc-line-height = 20px;