badge-status($primaryColor, $successColor, $warningColor, $dangerColor, $infoColor)
  &-primary
    background-color: $primaryColor;
  &-success
    background-color: $successColor;
  &-warning
    background-color: $warningColor;
  &-danger
    background-color: $dangerColor;
  &-info
    background-color: $infoColor;