$carousel-arrow-size = 36px;
$carousel-font-size = 14px;
$carousel-arrow-zIndex = 10;
$carousel-arrow-left = 16px;
$carousel-arrow-right = 16px;
$carousel-arrow-animation-duration = 0.3s;
$carousel-arrow-background-color = rgba(31, 45, 61, 0.11);
$carousel-arrow-hover-background-color = rgba(31, 45, 61, 0.43);
$carousel-item-normal-zIndex = 1;
$carousel-item-animation-duration = 0.4s;
$carousel-indicators-bottom = 10px;
$carousel-indicator-size = 8px;
$carousel-indicator-margin = 5px;
$carousel-indicator-background-color = #fff;
$carousel-indicator-active-width = 20px;
$carousel-indicator-active-radius = 20px;
$carousel-indicator-extend-size = -5px;