$carousel-item-normal-zIndex = 1;
$carousel-indicator-size = 8px;
$carousel-indicator-margin = 5px;
$carousel-indicator-background-color = #fff;
$carousel-indicator-active-width = 20px;
$carousel-indicator-active-radius = 20px;