$dialog-animation-duration = 0.3s;
$dialog-marign-bottom = 50px;
$dialog-box-shadow = 0 1px 3px rgba(0, 0, 0, 0.3);
$dialog-header-padding = 20px;
$dialog-header-padding-bottom = 10px;
$dialog-title-line-height = 24px;
$dialog-title-font-size = 18px;
$dialog-body-padding-horizontal = 20px;
$dialog-body-padding-vertical = 30px;
$dialog-body-font-size = 14px;
$dialog-footer-padding = 20px;
$dialog-footer-padding-top = 10px;
$dialog-close-top = 20px;
$dialog-close-right = 20px;
$dialog-close-font-size = 16px;
$dialog-close-extend-size = -10px;