$message-top = 20px;
$message-padding = 15px 15px 15px 20px;
$message-min-width = 380px;
$message-icon-margin-right = 10px;
$message-content-font-size = 14px;
$message-border-width = 1px;
$message-background-color = #edf2fc;
$message-success-background-color = #f0f9eb;
$message-success-border-color = #e1f3d8;
$message-warning-background-color = #fdf6ec;
$message-warning-border-color = #faecd8;
$message-error-background-color = #fef0f0;
$message-error-border-color = #fde2e2;
$message-opacity-transition-duration = 0.3s;
$message-top-transition-duration = 40s;
$message-transform-transition-duration = 0.4s;
$message-close-icon-font-size = 16px;
$message-close-icon-right = 15px;