$progress-bar-margin-right = -50px
$progress-bar-padding-right = 50px
$progress-bar-default-height = 6px
$progress-bar-border-radius = 100px
$progress-bar-transition-duration = 0.6s
$progress-bar-inner-text-margin = 5px
$progress-bar-inner-text-font-size = 12px
$progress-text-margin-left = 10px