$step-text-icon-width = 24px;
$step-text-font-size = 14px;
$step-line-size = 2px;
$step-customize-icon-width = 40px;
$step-customize-inner-icon-font-size = 25px;
$step-title-font-size = 16px;
$step-title-line-height = 38px;
$step-title-vertical-padding-bottom = 8px;
$step-desc-font-size = 12px;
$step-desc-horizontal-padding-right = 10%;
$step-desc-line-height = 20px;
$step-icon-vertical-width = 24px;
$step-main-vertical-padding-left = 10px;
