@keyframes dialog-fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0
  } 100% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  }
}
@keyframes dialog-fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1
  } 100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0
  }
}