// 字体
$base-font-size = 14px;
$base-medium-font-size = 16px;
$base-large-font-size = 18px;

// 公共类型颜色
$base-primary = #409EFF   // 主题色
$base-success = #67C23A   // 辅助色-成功
$base-warning = #E6A23C   // 辅助色-警告
$base-danger = #F56C6C    // 辅助色-危险
$base-info = #909399      // 辅助色-消息

// 公共字体颜色
$base-font-first-color = #303133;
$base-font-second-color = #606266;
$base-font-three-color = #909399;
$base-font-four-color = #C0C4CC;

// 公共边框颜色
$base-border-first-color = #DCDFE6;
$base-border-second-color = #E4E7ED;
$base-border-three-color = #EBEEF5;
$base-border-four-color = #F2F6FC;

// 公共边框圆角
$base-border-radius-zero = 0px;
$base-border-radius-small = 2px;
$base-border-radius-base = 4px;
$base-border-radius-circle = 50%;