// 公共类型颜色
$base-primary = #409EFF // 主题色
$base-success = #67C23A  // 辅助色-成功
$base-warning = #E6A23C  // 辅助色-警告
$base-danger = #F56C6C  // 辅助色-危险
$base-info = #909399  // 辅助色-消息

// 公共字体大小
$base-font-size = 14px;