html, body
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: PingFang SC,Helvetica Neue, Helvetica, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  width: 100%
  height: 100%
.iconfont 
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
.m-center
  margin: 0 auto;
  width: 1152px;
.mx-center
  margin: 0 auto;
  width: 1386px
.ml-center
  margin: 0 auto;
  width: 1446px;
.ellipsis
  text-overflow: ellipsis
  white-space: nowrap;
  overflow: hidden;