@import './reset.styl'
@import './iconfont.css'
@import './base.styl'
@import './media.styl'

.home-title
  text-align: center;
  font-size: 20px;
  color: #4D555D;
  font-weight: 600;
  line-height: 36px;
  letter-spacing: 1px;
  .title-icon
    display: inline-block;
    vertical-align: top;
    width: 56px;
    height: 36px;
    background: url('https://www.imooc.com/static/img/index/icon.png');
    background-size: cover;
    &.left-icon
      margin-right: 20px;
    &.right-icon
      margin-left: 20px;
.el-scrollbar
  .el-scrollbar__wrap
    overflow-x: hidden;
  .el-scrollbar__bar.is-horizontal
    display: none;