@media screen and (max-width: 1479px)
  .nav-link
    padding: 0 10px!important;
@media screen and (max-width: 1440px)
  .mx-center
    margin: 0 auto;
    width: 1200px;
@media screen and (max-width: 1600px)
  .ml-center
    margin: 0 auto;
    width: 1200px;