// @import './iconfont.scss';
@import '//at.alicdn.com/t/font_2293706_jrihxza76f.css';
html, body {
  width: 100%;
  height: 100%;
}
#app {
  height: 100%;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  line-height: 1;
}
ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
