$timeline-size = 12px;
$timeline-item-title-color = #303133;
$timeline-item-padding-bottom = 20px;
$timeline-item-dot-small-size = 12px;
$timeline-item-dot-normal-size = 14px;
$timeline-item-dot-medium-size = 16px;
$timeline-item-dot-large-size = 18px;
$timeline-item-dot-color = #E4E7ED;
$timeline-item-wrapper-padding-left = 28px;